body {
  margin: 0;
  background-color: #525254 !important;
  font-family: "Open Sans" !important;
  height: 100vh;
  color: white !important;
}

.logo {
  height: 90px;
  border-radius: 50%;
  padding: 16px;
  cursor: pointer;
}

h1 {
  font-family: "Rubik Mono One";
  margin: 0 !important;
}

.displayFlex {
  display: flex !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  flex-wrap: nowrap !important;
  gap: 350px;
  border-bottom: 2px solid white; /* Anpassung der Dicke des Rahmens nach Bedarf */
  box-shadow: 0 4px 2px -2px rgba(255, 255, 255, 0.5); /* Anpassung der Schattenwerte nach Bedarf */
}

.input-group {
  margin-right: 60px;
  margin-top: 50px;
}

.pokemonDiv {
  
  display: flex;
  flex-wrap: wrap;
}


footer {
  
 
  width: 100%; /* Nimmt die volle Breite des Bildschirms ein */
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0 -4px 2px -2px rgba(255, 255, 255, 0.5);
  background-color: #212529;
}

.footerLeft {
  background-color: white;
  height: 1px;
  width: 40%;
}

.footerRight {
  background-color: white;
  height: 1px;
  width: 40%;
}

.pokemonCard {
  width: 200px;
  box-shadow: 0 4px 8px #CDDC39;
  border-radius: 10px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Smooth transition for transform */
}

.pokemonCard:hover {
  transform: scale(1.1); /* Scale up by 10% on hover */
}

.pokemonNameId {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #b94a44;
  border-radius: 10px 10px 0px 0px;
  padding: 8px;
  }

  .pokemonImg {
    height: 130px;
    width: 130px;
    display: flex;
    padding-bottom: 16px;
    transition: transform 0.2s ease-in-out; /* Smooth transition for transform */
  }
  
  .pokemonCard:hover .pokemonImg {
    transform: scale(1.5); /* Scale up the image inside .pokemonCard by 20% on hover */
  }

  .typeClass {
    height: 60px;
    text-align: center;
    background-color: antiquewhite;
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    background-color: #b94a44;
  }

  .loadMore {
    padding: 20px;
  }

  .loadMore button {
    background-color: #b94a44;
    }

 .form-control {
  border-radius: 10px !important;
 }

 .hidden {
  display: none;
 }
  
  








